name: Backend-CI/CD (Docker Hub Only)
on:
  push:
    branches:
      - main
    paths:
      - 'backend/**'
      - '.github/workflows/backend.yml'

jobs:
  build-test-push:
    runs-on: ubuntu-latest
    defaults:
        run:
            working-directory: backend
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
            java-version: '17'
            distribution: 'temurin'
            cache: 'maven'

    - name: Make the Maven wrapper executable
      run: chmod +x ./mvnw

    # 1. TESTER
    - name: Run Unit Tests
      run: ./mvnw test

    # 2. CONSTRUIRE (Package JAR)
    - name: Build the backend package
      run: ./mvnw clean package -DskipTests

    # 3. DOCKER LOGIN
    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_TOKEN }}

    # 4. DOCKER BUILD & PUSH
    - name: Build and Push Docker Image
      uses: docker/build-push-action@v5
      with:
        context: ./backend
        push: true
        # Remplacez 'ecommerce-backend' par le nom que vous voulez
        tags: ${{ secrets.DOCKER_USERNAME }}/ecommerce-backend:latest
